<h1>Welcome to MeMails</h1>


{{outlet}}

Folders
<ul>

{{#each folder in model itemController = 'folder'}}
  {{#link-to "folder" folder}}<li>{{folder.name}}</li>{{/link-to}}

{{/each}}

</ul>
{{#link-to 'new-folder'}}Add a New folder{{/link-to}}
