<h1>Welcome to MeMails</h1>

{{#link-to 'new-folder'}}new folder{{/link-to}}

{{outlet}}

<ul>

{{#each folder in model itemController = 'folder'}}
  {{#link-to "folder" folder}}<li>{{folder.name}}</li>{{/link-to}}



{{/each}}

</ul>
