<form>
  <div class="form-group">
    {{input value=receiver placeholder="Send To" class="form-control"}}
  </div>
  <div class="form-group">
    {{input value= title placeholder="Title" class="form-control"}}
  </div>
  <div class="form-group">
    {{textarea value= message placeholder="Message" class="form-control"}}
  </div>

  <button class='btn btn-danger' {{action 'newEmail'}}>Send Email</button>
</form>
